.box{
    width: 100px;
    height: 100px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    float: left;
    margin: 40px;
    /*transform: translateX(10px) translateY(20px);*/
    /*transform: rotate(45deg);*/
    /*transform: scaleX(0.5);*/
    /*transform: skew(30deg,10deg);*/
    /*transform-origin: left top;*/
}
span{
    display: inline-block;
    margin: 30px 30px;
}

.box1{
    transform: skew(30deg);
}
.box2{
    transform: scaleX(0.5)
}
.box3{
    transform: rotate(45deg);
}
.box4{
    transform: translateX(10px) translateY(20px);
}
.box5{
    transform: skew(30deg,20deg);
    transform-origin: left top;
}